#page{
    background-color: teal;
    background-image: url(https://rita.udistrital.edu.co/images/logo_horizontal.png), url(https://thumbs.dreamstime.com/z/fondo-del-contorno-mapa-topogr%C3%A1fico-topo-con-la-elevaci%C3%B3n-vector-de-rejilla-geogr%C3%A1fica-topograf%C3%ADa-mundo-116028156.jpg);
    background-attachment: fixed, scroll ;
}

.calculator{
    display: block;
    margin: 50px auto;
    padding: 25px;
    background-image: url(https://i.pinimg.com/originals/37/c4/44/37c4447b49f76c32b3ff4940e84decbe.png);
    width: 350px;
    height: 550px;
    border-radius: 25px;
    border: black;
}
.calculator td button{
    display: block;
    width: 60px;
    height: 60px;
    font-size: 25px;
    background-color: silver;
}
#equal{
    display: block;
    width: 140px;
    background-color: slategray;
}
#AllClean{
    background-color: darkred;
}
#model{
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
}
#result{
    display: block;
    text-align: center;
    font-size: 35px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: white;
    border-radius: 15px;
    overflow-y: scroll;

}